html, body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  background-color: #272934;
  color: white;
}

.D-S1, .D-S2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5% 0;
}

.S-Ct1, .S-Ct2 {
  border-radius: 15px;
  padding: 30px 20px;
  max-width: 750px;
  width: 85%;
}

.S-Ct1 a img:hover {
  background-color: #00000084;
  transition-duration: 0.3s;
}

.S-Ct1 > a {
  padding: 10px 10px;
}

.S-Ct1 > a > img {
  padding: 12px 12px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.I-Ct1Ig {
  border-radius: 500px;
  padding: 5px;
}

.I-Ct1Ig {
  -webkit-animation: I-Ct1IgM 2s infinite  alternate;
  animation: I-Ct1IgM 2s infinite  alternate;
}
@-webkit-keyframes I-Ct1IgM {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes I-Ct1IgM {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.S-Ct1Tg {
  border: 1px solid;
  border-radius: 100cm;
  padding: 3px 12px;
  border-color: #9195AB;
  color: #9195AB;
}

.S-Ct1Tg:hover {
  cursor: default;
}

.S-Ct2 {
  padding: 15px;
}

.D-Ct2Lnk {
  padding: 15px 10px;
  margin: 20px 0;
}

.A-Ct2Lnk {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  padding: 15px 50px;
  background-color: #16181e;
  border-radius: 100px;
  transition-duration: 0.3s;
}

.A-Ct2LnkN:hover {
  background-color: #4484fc;
  color: black;
  transition-duration: 0.3s;
}

p {
  color: #9195AB;
}

hr {
  color: #9195AB;
}

footer {
  text-align: center;
  padding: 0.5% 0;
  margin-bottom: 0px;
  margin-top: auto;
}

.S-FtCt {
  text-align: center;
  padding: 30px 20px;
  max-width: 750px;
  width: 85%;
}
