:root {
  --bg-color-1: #080821;
  --bg-color-2: #101047;
  --bg-color-3: #1d1d90;
  --text-color-1: #fff;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

/* Styling for navigation bar */
.nav {
  background-color: var(--bg-color-2);
  overflow: hidden;
  padding: 10px;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.A-Nvg {
  float: left;
  display: block;
  text-decoration: none;
  color: var(--text-color-1);
  padding: 14px 24px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 4px;
  text-align: center;
  transition-duration: 0.2s;
  font-size: 16px;
  width: 25%;
  max-width: 60px;
}

.A-NvgI {
  padding: 7px 10px!important;
  max-width: 40px;
}

.A-Nvg:hover {
  background-color: var(--bg-color-3);
  transition-duration: 0.2s
}

.A-NvgHid {
  display: none;
  min-width: 125px;
  max-width: 125px;
}

.A-NvgTog {
  display: show;
}

/* Navbar Responsiveness */
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.A-NvgHid {
    margin: 0 auto;
    display: inline;
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive.a.A-NvgHid {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    width: 75%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
  }
}

/* Separator Styling */
.separator {
  height: 10%;
  max-height: 100px;
}

/* Styling for Divs */

.D-S1, .D-S2, .D-S3, .D-S4, .D-S5 {
  text-align: center;
  padding: 0.5% 0;
}

.D-S1 {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Styling for spans directly within divs */

.S-Ct1, .S-Ct2, .S-Ct3, .S-Ct4, .S-Ct5 {
  padding: 30px 20px;
  max-width: 750px;
  width: 85%;
  height: 100%;
}

/* First Div Styling */

.I-Ct1Ig {
  border-radius: 500px;
  padding: 5px;
}

.I-Ct1Ig {
  -webkit-animation: I-Ct1IgM 2s infinite  alternate;
  animation: I-Ct1IgM 2s infinite  alternate;
  height: 25%;
  width: 25%;
  min-height: 100px;
  min-width: 100px;
}
@-webkit-keyframes I-Ct1IgM {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes I-Ct1IgM {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

/* Second Section Styling */

/* Third + Fourth Section Styling */
.D-S3A, .D-S4A {
  text-align: center;
}

.D-S3B, .D-S4B {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.D-Ct3FBxD > img {
  height: 50%;
  width: 50%;
  border-radius: 5px;
}

.D-Ct4FBxD > img {
  height: 30%;
  width: 30%;
  min-height: 32px;
  min-width: 32px;
  max-height: 100px;
  max-width: 100px;
  border-radius: 5px;
}

.D-Ct3FBxD > h4 > a, .D-Ct4FBxD > h4 > a {
  color: #1fa9ff;
  text-decoration: none;
}

.D-Ct3FBx, .D-Ct4FBx {
  background-color: var(--bg-color-2);
  border-radius: 4px;
  padding: 10px;
  flex: 50%;
  width: 45%;
  min-width: 200px;
  margin: 10px;
  text-align: center;
}

@media (min-width: 1200px) {
  .D-Ct3FBx {
    width: 45%;
  }
  .D-Ct4FBx {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .D-S3B, .D-S4B {
    flex-direction: column;
    width: 100%;
  }

  .D-Ct3FBx, .D-Ct4FBx {
    width: 90%;
    min-width: 100px;
  }
}

/* Footer styling */

footer {
  text-align: center;
  padding: 0.5% 0;
  margin-bottom: 0px;
  margin-top: auto;
}
